@import "tailwindcss";
@tailwind utilities;

:root {
  --primary-color: #5ac893;
  --hover-color: #4ba578;
  --text-color: #141b29;
  --background-color: #f8f8ff;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

/* For webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f1f1f1;
}

@keyframes border-flow {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  25% {
    clip-path: inset(0 0 75% 0);
  }
  50% {
    clip-path: inset(0 0 0 75%);
  }
  75% {
    clip-path: inset(75% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.animate-border-flow {
  animation: border-flow 2s linear infinite;
}
