@import "tailwindcss";
@tailwind utilities;

:root {
  --primary-color: #5ac893;
  --hover-color: #4ba578;
  --text-color: #141b29;
  --background-color: #f8f8ff;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
